.welcome{
    background: var(--violet2);
    color: white;
    padding: 100px 300px 0;           /* top - left and right - bottom */
    text-align: center;
    /*border: 1px solid greenyellow;*/
}

.welcome #bio{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    /*letter-spacing: 100px;
    animation: wlcm-h6-load 1000ms ease-in;*/
}

/*@keyframes wlcm-h6-load{
    0%{
        letter-spacing: 20px;
    }
    100%{
        letter-spacing: 5px;
    }
}*/

.welcome h3{
    font-size: 25px;
    margin: 20px 0;
}

.welcome h3 span{
    color: aqua;
}

@media screen and (max-width: 1000px){
    .welcome{
        padding: 100px 250px 0;
    }
    
}

@media screen and (max-width: 900px){
    .welcome{
        padding: 100px 200px 0;
    }
}

@media screen and (max-width: 800px){
    .welcome{
        padding: 100px 150px 0;
    }
}

@media screen and (max-width: 700px){
    .welcome{
        padding: 100px 100px 0;
    }
}

@media screen and (max-width: 600px){
    .welcome{
        padding: 100px 70px 0;
    }
}

@media screen and (max-width: 540px){
    .welcome{
        padding: 100px 50px 0;
    }
}

@media screen and (max-width: 480px){
    .welcome{
        padding: 100px 25px 0;
    }
}


/* @media(max-width: 460px){

    .welcome{
        padding-left: 0;
        padding-right: 0;
    }
    .welcome p{
        margin-left: 100px;
        margin-right: 100px;
    }

    .welcome #bio{
        font-size: 12px;
    }

} */
