.footer-style{
    background: var(--violet2);
}

footer{
    background: var(--violet2);
    padding: 0 100px;
    padding-bottom: 100px;
    /* border : 1px solid red; */
}

footer .contact-us{
    display: flex;
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid orange;  */
}

footer .contact-us .loonarc{
    width: 35%;
    /* border: 1px solid yellowgreen; */
}

footer .contact-us .loonarc h2{
    color: aqua;
}

footer .contact-us .loonarc p{
    line-height: 150%;
}

footer .contact-us .loonarc p, 
footer .contact-us .company .company-p, 
footer .contact-us .form form{
    margin-top: 25px;
}

footer .contact-us .company{
    width: 20%;
    /*border: 1px solid yellowgreen;*/
    padding-left: 70px;
}

footer .contact-us .company .company-p p{
    margin-bottom: 25px;
}

footer .contact-us .company .company-p p a{
    color: var(--white);
}

footer .contact-us .company .company-p p a:hover{
    animation: before-motion 0.3s ease-in;
}

footer .contact-us .company .company-p p a:hover::before{
    content: ">> ";
    color: var(--white);
    padding-top: 3px;
    animation: before-motion 0.5s ease-in;
}

@keyframes before-motion{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


footer .contact-us .form{
    width: 22.8%;
    display: flex;
    flex-direction: column;
    /* align-items: center; 
    border: 1px solid yellowgreen;*/
}

footer .contact-us h2{
    font-size: 25px;
    font-weight: 500;
}

footer .contact-us h2 span{
    color: aqua;
}

footer .contact-us .form form input{
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    outline: none;
}

footer .contact-us .form .submit{
    width: 120px;
    height: 40px;
    background: var(--white);
    color: var(--violet2);
    border: none;
    border-radius: 7px;
}

footer .contact-us .form .submit:hover{
    background: aqua;
    color: var(--violet2);
}

footer .social-media{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

footer .social-media a{
    color: var(--white);
    font-size: 30px;
    padding: 10px;
}

footer .social-media a:hover, 
footer .social-media a:active{
    color: aqua;
}

footer .copyrights{
    color: var(--white);
    display: flex;
    justify-content: center;
}

footer .copyrights p{
    display: flex;
}

footer .copyrights i{
    padding-top: 4.7px;
    padding-right: 10px;
}

footer .copyrights .copyrights-loonarc{
    font-weight: bold;
}

/*footer .contact-us .form form{
    display: flex;
    flex-direction: column;
    border: 1px solid aquamarine;
}*/

@media screen and (max-width: 1535px){
    footer .contact-us .form form input{
        width: 280px;
    }
}

@media screen and (max-width: 1460px){
    footer .contact-us .form{
        width: 25%;
    }
}

@media screen and (max-width: 1350px){
    footer .contact-us .form{
        width: 27%;
    }
}

@media screen and (max-width: 1265px){
    footer .contact-us .form{
        width: 30%;
    }
}

@media screen and (max-width: 1195px){
    footer .contact-us .loonarc{
        width: 33%;
    }

    footer .contact-us .company{
        width: 25%;
    }
}

@media screen and (max-width: 1160px){
    footer .contact-us .form{
        width: 35%;
    }
}

@media screen and (max-width: 1030px){
    footer .contact-us .loonarc{
        width: 50%;
    }

    footer .contact-us .company{
        display: none;
    }

    footer .contact-us .form{
        width: 40%;
    }
}

@media screen and (max-width: 925px){
    footer .contact-us .form{
        width: 45%;
    }
}

@media screen and (max-width: 850px){
    footer .contact-us{
        flex-direction: column;
    }

    footer .contact-us .loonarc{
        width: 90%;
        text-align: justify;
    }

    footer .contact-us .company{
        display: none;
    }

    footer .contact-us .form{
        width: 95%;
        padding-top: 50px;
        align-items: center;
    }

    footer .contact-us .form form input{
        width: 47%;
    }

    footer .contact-us .form form input:nth-child(1),
    footer .contact-us .form form input:nth-child(3){
        margin-right: 2.3%;
    }

    footer .contact-us .form form input:nth-child(2),
    footer .contact-us .form form input:nth-child(4){
        margin-left: 2.3%;
    }
}

@media screen and (max-width: 700px){
    footer{
        padding: 0 40px;
    }

    footer .contact-us .form{
        width: 57%;
    }

    footer .contact-us .form form input{
        width: 100%;
    }

    footer .contact-us .form form input:nth-child(1),
    footer .contact-us .form form input:nth-child(3){
        margin-right: 0;
    }

    footer .contact-us .form form input:nth-child(2),
    footer .contact-us .form form input:nth-child(4){
        margin-left: 0;
    }

    footer .copyrights p span:nth-child(2){
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 560px){
    footer{
        padding: 0 30px;
    }

    footer .contact-us .form{
        width: 60%;
    }
}