@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root{
    --violet: #2b1055;
    --violet2: #1c0522;
    --blue: #7597de;
    --white: #fff;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    min-height: 100vh;
    background: linear-gradient(var(--violet), var(--blue));
}