@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --violet: #2b1055;
    --violet2: #1c0522;
    --blue: #7597de;
    --white: #fff;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    min-height: 100vh;
    background: linear-gradient(var(--violet), var(--blue));
}
/*     H  E  A  D  E  R     */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1111;
    /*border: 1px solid yellow;*/
}

header .logo{
    color: var(--white);
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    pointer-events: none;
    animation: logo-load 500ms ease-in;
}

@keyframes logo-load{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateY(0);
    }
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
}

header ul li{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: list-load 500ms ease-in;
    /*border: 10px solid yellow;
    height: 100px;*/
}

@keyframes list-load{
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0);
    }
}

/*header ul li:nth-child(3), header ul li:nth-child(4){
    animation: list-last-load 500ms ease-in;
}

@keyframes list-last-load{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}*/

header ul li a{
    padding: 6px 15px;
    color: var(--white);
    border-radius: 25px;
    transition: all .5s;
}

header ul li a:hover,
header ul li a:active{
    background: var(--white);
    color: var(--violet);
}


/*     P  A   R  A  L  L  A  X   -   I  M  A  G  E  S     */

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*border: 1px solid red;*/
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
    animation: moon-load 2000ms ease-in;
    /*border: 1px solid red;*/
    width: 100%;
    height: 120%;
    object-fit: fill;
    overflow-y: hidden;
}

@media(max-width: 1363px){
    section img#moon{
        object-fit: cover;
        overflow-y: hidden;
    }
}

@keyframes moon-load{
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0);
    }
}

#brand_name{
    position: absolute;
    color: var(--white);
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    letter-spacing: 10px;
    text-transform: uppercase;
    right: -350px;
}

section img#mountains_front{
    z-index: 10;
}

section #btn{
    display: inline-block;
    padding: 8px 30px;
    border-radius: 45px;
    background: var(--white);
    color: var(--violet);
    font-size: 24px;
    z-index: 9;
    transform: translateY(100px);
    animation: btn_load 1000ms ease-in;
}

@keyframes btn_load{
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--violet2), transparent);
    z-index: 1000;
}



/*     P  A  R  A  G  R  A  P  H  -  F  O  R  -  S  C  R  O  L  L  I  N  G  -  E  F  F  E  C  T  S     */


/*     B  I  O     */

.welcome{
    background: var(--violet2);
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    text-align: center;
}

.welcome #bio{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    /*letter-spacing: 100px;
    animation: wlcm-h6-load 1000ms ease-in;*/
}

/*@keyframes wlcm-h6-load{
    0%{
        letter-spacing: 20px;
    }
    100%{
        letter-spacing: 5px;
    }
}*/

.welcome h3{
    font-size: 25px;
    margin: 20px 0;
}

.welcome h3 span{
    color: aqua;
}

/*     B  O  X  E  S     */

.boxes{
    background: var(--violet2);
    overflow-y: hidden;
}

.sec{
    position: relative;
    padding: 150px;
    background: var(--violet2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: hidden;
}

.sec div{
    padding: 20px;
    background: var(--white);
    color: var(--violet2);
    border-radius: 15px;
}
.sec div h3{
    text-align: center;
    padding: 20px;
}

.sec div:nth-child(1), .sec div:nth-child(6){
    width: 40%;
}

.sec div:nth-child(2), .sec div:nth-child(5){
    width: 26%;
}

.sec div:nth-child(3), .sec div:nth-child(4){
    width: 28%;
}

.sec div:nth-child(4), .sec div:nth-child(5), .sec div:nth-child(6){
    margin-top: 25px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

/*.reveal{
    position: relative;
    transform: translateY(300px);
    opacity: 0;
    transition: all 2s ease ;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.sec h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.sec p{
    font-size: 20px;
}*/